.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  background: 25px 30px;
  border-radius: 5px;
}

.input_field {
  font-weight: 500;
  margin: 8px 0px;
  padding: 0 10;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 18px;
  width: calc(100% / 2 - 35px);
}

.deal_form {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  max-width: 700px;
}

.deal_form_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.section_header {
  color: #777;
}
